<footer>
    <div class="container">
        <div class="copyright-menu">
            <div class="row justify-content-center">

                <div class="col-md-10">
                    <div class="menu text-center">
                        <ul>
                            <li><a href="#home">Home</a></li>
                            <li><a href="#quienes">Nosotros</a></li>
                            <li><a href="#servicios">Servicios</a></li>
                            <li><a href="#proceso">Proceso</a></li>
                            <li><a href="#capacitaciones">Capacitaciones</a></li>
                            <li><a href="#contacto">Contacto</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-10">
                    <div class="copyright-text text-center">
                        <p><i class="fa fa-map-marker"></i> Cipreses No. 33, Jardínes San Mateo, Naucalpan, Edo. de México, C.P. 53240</p>
                        <p>@ Copyright 2020 Grupo Cyr. Todos los derechos reservados.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>