<header class="site-header">
    <div id="main-header" class="main-header header-sticky">
        <div class="inner-header container clearfix">
            <div class="logo">
                <a href="index.html"><img class="img-fluid" width="280" src="assets/images/logo.png" alt=""></a>
            </div>
            <div class="header-right-toggle pull-right hidden-md hidden-lg">
                <a href="javascript:void(0)" class="side-menu-button"><i class="fa fa-bars"></i></a>
            </div>
            <div class="header-info hidden-sm hidden-xs">
                <ul>
                    <li><i class="fa fa-phone"></i>
                        <a href="tel:5511830660">+52 55 1183 0660</a></li>
                    <li><i class="fa fa-envelope-o"></i>contacto@cencyr.com</li>

                    <li><a style="background-color: #4678A5;" href="#contacto">inicia ya</a></li>
                </ul>
            </div>
            <nav class="main-navigation text-left hidden-xs hidden-sm">
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#quienes">Quiénes Somos</a></li>
                    <li><a href="#servicios">Servicios</a></li>
                    <li><a href="#proceso">Proceso</a></li>
                    <li><a href="#capacitaciones">Capacitaciones</a></li>
                    <li><a href="#contacto">Contacto</a></li>
                    <li></li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<div id="search">
    <button type="button" class="close">×</button>
    <form>
        <input type="search" value="" placeholder="type keyword(s) here" />
        <button type="submit" class="btn btn-primary"><span>Search</span></button>
    </form>
</div>