<nav class="sidebar-menu slide-from-left">
    <div class="nano">
        <div class="content">
            <nav class="responsive-menu">
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#quienes">Quiénes Somos</a></li>
                    <li><a href="#servicios">Servicios</a></li>
                    <li><a href="#proceso">Proceso</a></li>
                    <li><a href="#capacitaciones">Capacitaciones</a></li>
                    <li><a href="#contacto">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </div>
</nav>
<div class="sidebar-menu-push">

    <div class="sidebar-menu-overlay"></div>

    <div class="sidebar-menu-inner">

        <app-header></app-header>


        <div class="slider-2" id="home">
            <div class="fullwidthbanner-container">
                <div class="fullwidthbanner">
                    <ul>
                        <li class="first-slide" data-transition="fade" data-slotamount="10" data-masterspeed="300">
                            <img src="assets/images/portadas/portada-1.jpg" data-fullwidthcentering="on" alt="slide">
                            <div class="tp-caption first-line lft tp-resizeme start" data-x="left" data-hoffset="0" data-y="190" data-speed="1000" data-start="200" data-easing="Power4.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0" data-endelementdelay="0">
                                <div class="slide-caption">
                                    <a href="#servicios"><i class="fa fa-play-circle"></i></a>
                                    <a href="#servicios"><span>Nuestros Servicios</span></a>
                                    <h2>Diagnóstico, capacitación y <br>desarrollo de personal.</h2>
                                    <p>Renueva tu empresa con el mejor talento.</p>
                                </div>
                            </div>
                        </li>
                        <li class="first-slide" data-transition="fade" data-slotamount="10" data-masterspeed="300">
                            <img src="assets/images/portadas/portada-2.jpg" data-fullwidthcentering="on" alt="slide">
                            <div class="tp-caption first-line lft tp-resizeme start" data-x="left" data-hoffset="0" data-y="190" data-speed="1000" data-start="200" data-easing="Power4.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0" data-endelementdelay="0">
                                <div class="slide-caption">
                                    <a href="#servicios"><i class="fa fa-play-circle"></i></a>
                                    <a href="#servicios"><span>Nuestros Servicios</span></a>
                                    <h2>Desarrollo de ejecutivos y <br>gestión del conocimiento.</h2>
                                    <p>Transforma tus vacantes en personal comprometido.</p>
                                </div>
                            </div>
                        </li>
                        <li class="first-slide" data-transition="fade" data-slotamount="10" data-masterspeed="300">
                            <img src="assets/images/portadas/portada-3.jpg" data-fullwidthcentering="on" alt="slide">
                            <div class="tp-caption first-line lft tp-resizeme start" data-x="left" data-hoffset="0" data-y="190" data-speed="1000" data-start="200" data-easing="Power4.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0" data-endelementdelay="0">
                                <div class="slide-caption">
                                    <a href="#servicios"><i class="fa fa-play-circle"></i></a>
                                    <a href="#servicios"><span>Nuestros Servicios</span></a>
                                    <h2>Coaching empresarial para <br> alcanzar tus objetivos</h2>
                                    <p>Mejora el clima organizacional, la comunicación y el liderazgo.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <section id="quienes">
            <div class="welcome-intro-2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 align-self-center">
                            <div class="left-images">
                                <div class="row">
                                    <div class="col-md-12">
                                        <img src="assets/images/website/ejecutivos.jpg" alt="">
                                    </div>
                                    <div class="col-md-6 col-xs-6">
                                        <a href="single-post.html"><img src="assets/images/website/reunion.jpg" alt=""></a>
                                    </div>
                                    <div class="col-md-6 col-xs-6">
                                        <a href="single-post.html"><img src="assets/images/website/consultoria.jpg" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="welcome-to-educa">
                                <div class="section-heading">
                                    <h1>Bienvenido a Grupo Cyr</h1>
                                    <img src="assets/images/line-dec.png" alt="">
                                    <span>
                                        Somos expertos en asesorar y dar solución a problemas de desarrollo humano y gestión de personal, 
                                        aplicando herramientas eficientes que ayudan a construir la realidad que requieren las organizaciones actuales.
                                    </span>
                                </div>
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="service-item">
                                            <i class="fa fa-graduation-cap"></i>
                                            <h4>Experiencia Profesional</h4>
                                            <p>Más de 30 años impulsando el crecimiento empresarial en México.</p>
                                        </div>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="service-item">
                                            <i class="fa fa-globe"></i>
                                            <h4>Soluciones prácticas e inmediatas</h4>
                                            <p>Aplicamos herramientas eficientes que ayudarán a alcanzar los objetivos de tu empresa.</p>
                                        </div>
                                    </div>
                                    <!--div class="col-md-10">
                                        <div class="service-item">
                                            <i class="fa fa-globe"></i>
                                            <h4>Personal Capacitado</h4>
                                            <p>Contamos con un equipo altamente capacitado y especializado para darte el mejor servicio.</p>
                                        </div>
                                    </div-->
                                    <div class="col-md-10">
                                        <div class="service-item">
                                            <i class="fa fa-clock-o"></i>
                                            <h4>Más de 30 años de experiencia</h4>
                                            <p class="pl-3">Somos profesionales en el desarrollo del capital humano y el cumplimiento de las normas oficiales mexicanas establecidas.</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="read-books">
            <div class="container" id="servicios" style="padding-top: 10px;">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-heading text-center">
                            <h1>Servicios</h1>
                            <img src="assets/images/line-dec.png" alt="">
                            <p>Contemplamos una gran variedad de soluciones que cubren las necesidades que tu organización requiere.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="books-item">
                            <i class="fa fa-sitemap"></i>
                            <h4>Desarrollo<br>Organizacional</h4>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="books-item">
                            <i class="fa fa-trophy"></i>
                            <h4>Coaching de ejecutivos<br>y de equipos</h4>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="books-item">
                            <i class="fa fa-desktop"></i>
                            <h4>Capacitación Presencial<br>y e-learning</h4>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="books-item">
                            <i class="fa fa-line-chart"></i>
                            <h4>Estrategias<br>para rh</h4>
                        </div>
                    </div>
                </div>
                <div class="row pt-3">
                    <div class="col-md-3">
                        <div class="books-item">
                            <i class="fa fa-binoculars"></i>
                            <h4>Búsqueta de Talento</h4>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="books-item">
                            <i class="fa fa-street-view"></i>
                            <h4>Outplacement</h4>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="books-item">
                            <i class="fa fa-users"></i>
                            <h4>Team <br>Building</h4>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="books-item">
                            <i class="fa fa-graduation-cap"></i>
                            <h4>Diplomados<br>y certificaciones</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="border-button">
                            <a href="#contacto">Solicita una asesoría</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="read-books books-read">
            <div class="container" id="proceso" style="padding-top: 10px;">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-heading text-center">
                            <h1>Metodología</h1>
                            <img src="assets/images/line-dec.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center info text-center">
                    <div class="col-8 col-sm-5 col-md-3">
                        <img class="img-fluid" src="assets/images/infografia/1.png">
                    </div>
                    <div class="col-8 col-sm-5 col-md-3 pb-5">
                        <img class="img-fluid" src="assets/images/infografia/2.png">
                    </div>
                    <div class="col-8 col-sm-5 col-md-3">
                        <img class="img-fluid" src="assets/images/infografia/3.png">
                    </div>
                    <div class="col-8 col-sm-5 col-md-3">
                        <img class="img-fluid" src="assets/images/infografia/4.png">
                    </div>
                </div>

            </div>
        </section>

        <section class="popular-courses">
            <div class="container-fluid" id="capacitaciones" style="padding-top: 10px;">
                <div class="row justify-content-center">
                    <div class="col-10 col-lg-8">
                        <div class="section-heading text-center">
                            <h1>Capacitaciones</h1>
                            <img src="assets/images/line-dec.png" alt="">
                            <p>Los individuos, como elementos de la sociedad y las organizaciones, requieren habilidades y conocimientos efectivos y actualizados que les permitan su integración con los entornos sociales y laborales, por ello ofrecemos programas
                                de capacitación agrupados en las siguientes áreas:</p>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div id="owl-courses-first">
                        <div class="item course-item">
                            <a href="#contacto"><img src="assets/images/capacitaciones/desarrollo.jpg" alt=""></a>
                            <div class="down-content">
                                <img src="assets/images/capacitaciones/logo-simple.png" alt="">

                                <a href="#contacto">
                                    <h4>Desarrollo Humano</h4>
                                </a>
                                <p>Mejorar la calidad de vida, participar activamente en las decisiones que afectan nuestro entorno, son oportunidades para desarrollar al máximo las capacidades como personas.</p>
                                <div class="text-button">
                                    <a href="#contacto">Saber más<i class="fa fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="item course-item">
                            <a href="#contacto"><img src="assets/images/capacitaciones/ti.jpg" alt=""></a>
                            <div class="down-content">
                                <img src="assets/images/capacitaciones/logo-simple.png" alt="">

                                <a href="#contacto">
                                    <h4>Tecnologías de Información</h4>
                                </a>
                                <p>
                                    Consideramos a la tecnología como una herramienta para la explotación y el desenvolvimiento de las capacidades humanas por lo que ofrecemos servicios orientados a ella.</p>
                                <div class="text-button">
                                    <a href="#contacto">Saber más<i class="fa fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="item course-item">
                            <a href="#contacto"><img src="assets/images/capacitaciones/docencia.jpg" alt=""></a>
                            <div class="down-content">
                                <img src="assets/images/capacitaciones/logo-simple.png" alt="">

                                <a href="#contacto">
                                    <h4>Docentes y Directivos</h4>
                                </a>
                                <p>Los docentes y líderes representan una de las fuerzas más sólidas e influyentes con miras a garantizar la equidad, el acceso, la calidad de la educación y liderazgo.</p>
                                <div class="text-button">
                                    <a href="#contacto">Saber más<i class="fa fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="item course-item">
                            <a href="#contacto"><img src="assets/images/capacitaciones/personal.jpg" alt=""></a>
                            <div class="down-content">
                                <img src="assets/images/capacitaciones/logo-simple.png" alt="">

                                <a href="#contacto">
                                    <h4>Personal Administrativo</h4>
                                </a>
                                <p>Mejora el plan de vida y de carrera del personal, poniendo especial atención en su estado emocional, comunicación, sus competencias y habilidades.</p>
                                <div class="text-button">
                                    <a href="#contacto">Saber más<i class="fa fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="item course-item">
                            <a href="#contacto"><img src="assets/images/capacitaciones/educacion-2.jpg" alt=""></a>
                            <div class="down-content">
                                <img src="assets/images/capacitaciones/logo-simple.png" alt="">

                                <a href="#contacto">
                                    <h4>Educación</h4>
                                </a>
                                <p>Desarrollar las competencias técnicas y blandas de los profesionales que apoyan el desarrollo de los jóvenes.</p>
                                <div class="text-button">
                                    <a href="#contacto">Saber más<i class="fa fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="item course-item">
                            <a href="#contacto"><img src="assets/images/capacitaciones/servidores.png" alt=""></a>
                            <div class="down-content">
                                <img src="assets/images/capacitaciones/logo-simple.png" alt="">

                                <a href="#contacto">
                                    <h4>Servidores Públicos</h4>
                                </a>
                                <p>Consideramos fundamental fortalecer el desarrollo de las competencias del servidor público en cuanto a conocimientos, capacidades, habilidades y destrezas.</p>
                                <div class="text-button">
                                    <a href="#contacto">Saber más<i class="fa fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div id="call-to-action">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-10" style="padding-bottom: 20px;">
                        <h2 class="text-center"><strong>¡Transforma la Experiencia de tu Organización!</strong></h2>
                    </div>

                    <div class="col-10">
                        <div class="accent-button text-center">
                            <a href="#contacto">Aplica Ya</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <section class="popular-courses">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="section-heading text-center">
                        <h1>Nuestros Clientes</h1>
                        <img src="assets/images/line-dec.png" alt="">
                        <p>Contemplamos una gran variedad de soluciones, cubriendo las necesidades básicas que tu organización requiere.</p>
                    </div>
                </div>
                <div class="row">
                    <div id="owl-courses-second">
                        <div class="item course-item">
                            <a href="#"><img src="assets/images/marcas/inbursa.png" alt=""></a>
                        </div>
                        <div class="item course-item">
                            <a href="#"><img src="assets/images/marcas/comex.png" alt=""></a>
                        </div>
                        <div class="item course-item">
                            <a href="#"><img src="assets/images/marcas/telcel.png" alt=""></a>
                        </div>
                        <div class="item course-item">
                            <a href="#"><img src="assets/images/marcas/unam.png" alt=""></a>
                        </div>
                        <div class="item course-item">
                            <a href="#"><img src="assets/images/marcas/issste.png" alt=""></a>
                        </div>
                        <div class="item course-item">
                            <a href="#"><img src="assets/images/marcas/samborns.png" alt=""></a>
                        </div>
                        <div class="item course-item">
                            <a href="#"><img src="assets/images/marcas/telmex.png" alt=""></a>
                        </div>
                        <div class="item course-item">
                            <a href="#"><img src="assets/images/marcas/axxa.png" alt=""></a>
                        </div>
                        <div class="item course-item">
                            <a href="#"><img src="assets/images/marcas/bayer.png" alt=""></a>
                        </div>
                        <div class="item course-item">
                            <a href="#"><img src="assets/images/marcas/pearson.png" alt=""></a>
                        </div>
                        <div class="item course-item">
                            <a href="#"><img src="assets/images/marcas/condumex.png" alt=""></a>
                        </div>
                        <div class="item course-item">
                            <a href="#"><img src="assets/images/marcas/imss.png" alt=""></a>
                        </div>
                        <div class="item course-item">
                            <a href="#"><img src="assets/images/marcas/mars.png" alt=""></a>
                        </div>
                        <div class="item course-item">
                            <a href="#"><img src="assets/images/marcas/red-hat.png" alt=""></a>
                        </div>
                        <div class="item course-item">
                            <a href="#"><img src="assets/images/marcas/sears.png" alt=""></a>
                        </div>
                        <div class="item course-item">
                            <a href="#"><img src="assets/images/marcas/life.png" alt=""></a>
                        </div>
                        <div class="item course-item">
                            <a href="#"><img src="assets/images/marcas/logistics.png" alt=""></a>
                        </div>
                        <div class="item course-item">
                            <a href="#"><img src="assets/images/marcas/weport.png" alt=""></a>
                        </div>
                        <div class="item course-item">
                            <a href="#"><img src="assets/images/marcas/nss.png" alt=""></a>
                        </div>
                        <div class="item course-item">
                            <a href="#"><img src="assets/images/marcas/nutanix.png" alt=""></a>
                        </div>
                        <div class="item course-item">
                            <a href="#"><img src="assets/images/marcas/herdez.png" alt=""></a>
                        </div>
                        <div class="item course-item">
                            <a href="#"><img src="assets/images/marcas/maypo.png" alt=""></a>
                        </div>
                        <div class="item course-item">
                            <a href="#"><img src="assets/images/marcas/zeller.png" alt=""></a>
                        </div>
                        <div class="item course-item">
                            <a href="#"><img src="assets/images/marcas/welbing.png" alt=""></a>
                        </div>
                        <div class="item course-item">
                            <a href="#"><img src="assets/images/marcas/sanson.png" alt=""></a>
                        </div>
                        <div class="item course-item">
                            <a href="#"><img src="assets/images/marcas/clariant.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="welcome-request">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-7" style="padding-top: 20px;">
                        <div class="section-heading">
                            <h1>Recibe Asesoría Profesional</h1>
                            <img src="assets/images/line-dec.png" alt="">
                            <p>Contamos con capacitaciones de alto nivel para nuestros clientes. </p>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="service-item">
                                    <i class="fa fa-graduation-cap"></i>
                                    <h4>Programas avalados <br> por la UNAM </h4>
                                    <div class="line-dec"></div>
                                    <p>Todos nuestros diplomados están certificados por la institución.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="service-item">
                                    <i class="fa fa-globe"></i>
                                    <h4>Promociones y Descuentos</h4>
                                    <div class="line-dec"></div>
                                    <p>Incluímos descuentos especiales para exalumnos de la UNAM.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="service-item">
                                    <i class="fa fa-clock-o"></i>
                                    <h4>Profesores Certificados</h4>
                                    <div class="line-dec"></div>
                                    <p>Coordinamos un equipo de instructores certificados para todos los cursos.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="service-item">
                                    <i class="fa fa-book"></i>
                                    <h4>Facilidades de Pago </h4>
                                    <div class="line-dec"></div>
                                    <p>Manejamos meses sin intereses pregunta por las facilidades.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5" id="contacto" style="padding-top: 20px;">
                        <div class="request-information">
                            <div class="section-heading text-center">
                                <h1>Contacto</h1>
                                <img src="assets/images/line-dec.png" alt="">
                                <p>Solicita una asesoría profesional e inicia la trasformación de tu negocio.</p>
                            </div>
                            <div class="search-form form-search">
                                <form [formGroup]="grupocyrForm" (ngSubmit)="formSubmit(grupocyrForm.value)" id="contactform" class="contactform wrap-form style3 clearfix" novalidate="novalidate">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input type="text" id="name" formControlName="nombre" name="s" placeholder="Nombre*" value="">
                                            <div *ngIf="grupocyrForm.controls['nombre'].invalid && grupocyrForm.controls['nombre'].touched" class="alert alert-danger">
                                                <div *ngIf="grupocyrForm.controls['nombre'].errors.required">
                                                    Nombre es requerido.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" id="email" formControlName="email" name="s" placeholder="E-mail*" value="">
                                            <div *ngIf="grupocyrForm.controls['email'].invalid && grupocyrForm.controls['email'].touched" class="alert alert-danger">
                                                <div *ngIf="grupocyrForm.controls['email'].errors.required">
                                                    Email es requerido.
                                                </div>
                                                <div *ngIf="grupocyrForm.controls['email'].errors.email">
                                                    Email debe tener formato valido.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" id="phone" formControlName="telefono" name="s" placeholder="Teléfono*" value="">
                                            <div *ngIf="grupocyrForm.controls['telefono'].invalid && grupocyrForm.controls['telefono'].touched" class="alert alert-danger">
                                                <div *ngIf="grupocyrForm.controls['telefono'].errors.required">
                                                    Teléfono es requerido.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="select">
                                                <select formControlName="servicio" [(ngModel)]='servicio' name="mark" id="program">
                                                        <option value="">Servicio de interés*</option>
                                                        <option>Desarrollo Organizacional</option>
                                                        <option>Coaching</option>
                                                        <option>Capacitaciones</option>
                                                        <option>Estrategias para RH</option>
                                                        <option>Hunting</option>
                                                        <option>Outplacement</option>
                                                        <option>Team Building</option>
                                                        <option>Diplomados y Certificaciones</option>
                                                </select>
                                                <div *ngIf="grupocyrForm.controls['servicio'].invalid && grupocyrForm.controls['servicio'].touched" class="alert alert-danger">
                                                    <div *ngIf="grupocyrForm.controls['servicio'].errors.required">
                                                        Servicio es requerido.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <textarea id="message" formControlName="mensaje" name="message" placeholder="Deja aquí tu mensaje..."></textarea>
                                            <div *ngIf="grupocyrForm.controls['mensaje'].invalid && grupocyrForm.controls['mensaje'].touched" class="alert alert-danger">
                                                <div *ngIf="grupocyrForm.controls['mensaje'].errors.required">
                                                    Mensaje es requerido.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="accent-button">
                                                <button type="submit" [disabled]="!grupocyrForm.valid">Enviar</button>
                                                <!--a href="#" >Enviar</a-->
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>




        <section class="map">
            <div class="container-fluid">
                <div class="row">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3761.2119009053986!2d-99.25966888551505!3d19.489517086851972!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d2036cdc6254f5%3A0x645070b00d490f25!2sGrupo%20CYR!5e0!3m2!1ses!2smx!4v1590629223754!5m2!1ses!2smx"
                        width="100%" height="350" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
        </section>

        <section class="contact-info popular-courses" style="background-color: #4678A5;">

            <div class="container">
                <div class="row justify-content-center mt-5">
                    <div class="col-10 col-lg-8">
                        <div class="section-heading text-center">
                            <h1 style="color:#FFFFFF !important">Contáctanos en Redes Sociales</h1>
                            <img src="assets/images/line-dec.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="contact-content">
                            <div class="contact-item">
                                <a href="https://www.linkedin.com/in/grupo-c-768179169/" target="_blank">
                                    <i class="fa fa-linkedin" style="font-size: 28px;"></i>
                                    <h4>Linkedin</h4>
                                </a>
                            </div>
                            <div class="contact-item">
                                <a href="https://www.facebook.com/GrupoCyrMx" target="_blank">
                                    <i class="fa fa-facebook" style="font-size: 28px;"></i>
                                    <h4>Facebook</h4>
                                </a>
                            </div>
                            <div class="contact-item last-contact">
                                <a href="https://api.whatsapp.com/send/?phone=525578448394&text&type=phone_number&app_absent=0" target="_blank">
                                    <i class="fa fa-whatsapp" style="font-size: 28px;"></i>
                                    <h4>Whatsapp</h4>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <app-footer></app-footer>

        <a href="#" class="go-top"><i class="fa fa-angle-up"></i></a>

    </div>

</div>